<!-- 
<div class="row">
    <div *ngFor="let member of members">
       {{member.username}}
    </div>
</div> -->


<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">

    <div>
        <img src="/assets/Logo_Gestamp.jpg" class="img-fluid" alt="Logo_Gestamp">
    </div>

    <h2 class="text-center text-primary">Add new Tool</h2>

    <hr>

    <app-text-input [formControl]="$any(registerForm.controls['toolname'])" [label]="'Toolname'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['toolnumber'])" [label]="'Number'"></app-text-input>
    <app-date-picker [formControl]='registerForm.controls["date"]' [label]='"Service Date"'></app-date-picker>
    <app-owner-choose [formControl]='registerForm.controls["owner"]' [members]="members" ></app-owner-choose>
   
    <div class="row" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="form-group text-center mt-3">
        <button [disabled]="!registerForm.valid" class="btn btn-success mr-2 btn-block" type="submit">Add</button>
    </div>


</form>