<div>
    <tabset class="member-tabset">
        <tab heading="Tools list">
            <app-tools-list-admin>
            </app-tools-list-admin>
        </tab>

        <tab heading="Add new Tool">
          
        </tab>

        <tab heading="Register new user" id="tab1">
            <div class="container mt-5">
                <div *ngIf="!registerMode" class="container">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <app-register></app-register>
                        </div>
                    </div>
                </div>
            </div>
        </tab>


        <tab heading="Service">Basic content 2</tab>
        
    </tabset>
</div>