<div class="row" *ngIf="tool">
    <div class="col-4">
        <div *ngIf="!closeToService" class="card">
            <img src="{{tool.photoUrl || './assets/tool1.jpg'}}" alt="{{tool.toolName}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">

                <div class="mb-2">
                    <strong>Tool name: </strong> {{tool.toolName}}
                </div>

                <div class="mb-2">
                    <strong>Owner: </strong> {{tool.owner}}

                </div>

                <div class="mb-2">
                    <strong>State: </strong> {{tool.toolProperties.isValid}}
                </div>
              
                <div>
                    <strong>Service date: </strong>
                    <p>{{tool.dateOfService | date:'dd-MM-yy'}}</p>
                </div>


            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">

                    <button class="btn btn-primary" routerLink='/admin/tools/{{tool.toolName}}/edit'>Edit</button>

                    <div class="btn btn-danger">
                        <app-modals-deletion [tool]="tool"></app-modals-deletion>
                    </div>

                    <button class="btn btn-warning" (click)="openPDF()">PDF</button>
                    
                </div>
            </div>
        </div>

        <div *ngIf="closeToService" class="card card-service">
            <img src="{{tool.photoUrl || './assets/tool1.jpg'}}" alt="{{tool.toolName}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div class="mb-2">
                    <strong>Tool name: </strong> {{tool.toolName}}
                </div>

                <div class="mb-2">
                    <strong>Owner: </strong> {{tool.owner}}
                </div>

                <div class="mb-2">
                    <strong>State: </strong> {{tool.toolProperties.isValid}}
                </div>

                <div class="service-date">
                    <strong>Service date: </strong>
                    <p>{{tool.dateOfService | date:'dd-MM-yy' }}</p>
                </div>

            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" routerLink='/admin/tools/{{tool.toolName}}/edit'>Edit</button>
                    <div class="btn btn-danger">
                        <app-modals-deletion [tool]="tool"></app-modals-deletion>
                    </div>
                    <button class="btn btn-warning" (click)="openPDF()">PDF</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{tool.toolName}}">
                <h4>Tool reference number: </h4>
                <p>{{tool.toolNumber}}</p>
                <h4>Description: </h4>
                <p>{{tool.description}}</p>
                <h4>Days until the service expires: </h4>
                <p>{{tool.serviceDate}}</p>
                <h4>Added: </h4>
                <p>{{tool.created | date:'dd-MM-yy' }}</p>

            </tab>
            <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
            </tab>
        </tabset>
    </div>
</div>