<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">

    <div>
        <img src="/assets/Logo_Gestamp.jpg" class="img-fluid" alt="Logo_Gestamp">
    </div>

    <h2 class="text-center text-primary">Sign up new user</h2>

    <hr>
    <!-- 
    <div class="form-group">
        <label class="control-label" style="margin-right: 10px;">I am a: </label>

        <label class="radio-inline">
            <input type="radio" value='mechanic' formControlName='role'> mechanic
        </label>

        <label class="radio-inline">
            <input type="radio" value='admin' formControlName='role' class="ml-3"> admin
        </label>

        <label class="radio-inline">
            <input type="radio" value='user' formControlName='role' class="ml-3"> user
        </label>

    </div> -->
    <!-- <app-date-picker [formControl]='registerForm.controls["date"]' [label]='"Date"' [maxDate]='maxDate'></app-date-picker> -->

    <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'">
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm password'"
        [type]="'password'"></app-text-input>

    <app-text-input [formControl]='registerForm.controls["knownAs"]' [label]='"Known As"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["email"]' [label]='"Email"'></app-text-input>
    
    <div class="form-group text-center">
        <button [disabled]="!registerForm.valid" class="btn btn-success mr-2 btn-block" type="submit">Register</button>
    </div>

</form>


<!-- <p>
    Form value: {{registerForm.value | json}}
</p>
<p>
    Form status: {{registerForm.status | json}}
</p> -->