<form [formGroup]="serviceForm" autocomplete="off">
  <mat-stepper [orientation]="'vertical'" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="titlePage">
      <div formGroupName="titlePage">
        <ng-template matStepLabel>Information page</ng-template>

        <div class="form-group mt-1">
          <select
            required=""
            name="toolname"
            style="width: 150px"
            [formControl]="titlePage.controls['toolname']"
            class="form-control ml-1"
            (blur)="loadTool()"
          >
            <option value="" disabled selected hidden>
              - - Select tool - -
            </option>
            <option *ngFor="let tool of tools">
              {{ tool.toolName }}
            </option>
          </select>
        </div>

        <table *ngIf="tool" class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Number</th>
              <th scope="col">Owner</th>
              <th scope="col">Date of Service</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ tool.toolName }}</td>
              <td>{{ tool.toolNumber }}</td>
              <td>{{ tool.owner }}</td>
              <td>{{ tool.dateOfService | date : "dd-MM-yyyy" }}</td>
            </tr>
          </tbody>
        </table>

        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          |
          <button
            mat-raised-button
            [disabled]="!tool"
            color="primary"
            matStepperNext
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="externalInspection">
      <div formGroupName="externalInspection">
        <ng-template matStepLabel>External Inspection</ng-template>

        <app-set-prop
          [label]="'externalIsCleanState'"
          formControlName="externalIsCleanState"
        ></app-set-prop>

        <app-set-prop
          [label]="'externalCasingConditionState'"
          formControlName="externalCasingConditionState"
        ></app-set-prop>
        <app-set-prop
          [label]="'externalPlugState'"
          formControlName="externalPlugState"
        ></app-set-prop>
        <app-set-prop
          [label]="'externalWireState'"
          formControlName="externalWireState"
        ></app-set-prop>
        <app-set-prop
          [label]="'externalBendProtectorState'"
          formControlName="externalBendProtectorState"
        ></app-set-prop>
        <app-set-prop
          [label]="'externalCompleteButtonsState'"
          formControlName="externalCompleteButtonsState"
        ></app-set-prop>
        <app-set-prop
          [label]="'externalCompleteHandlesState'"
          formControlName="externalCompleteHandlesState"
        ></app-set-prop>
        <app-set-prop
          [label]="'externalOuterCoverState'"
          formControlName="externalOuterCoverState"
        ></app-set-prop>
        <app-set-prop
          [label]="'externalLeakageState'"
          formControlName="externalLeakageState"
        ></app-set-prop>

        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          |
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="internalInspection">
      <div formGroupName="internalInspection">
        <ng-template matStepLabel>Internal Inspection</ng-template>

        <app-set-prop
          [label]="'internalBendProtectorState'"
          formControlName="internalBendProtectorState"
        ></app-set-prop>
        <app-set-prop
          [label]="'internalPlugWireState'"
          formControlName="internalPlugWireState"
        ></app-set-prop>
        <app-set-prop
          [label]="'internalElectricEqState'"
          formControlName="internalElectricEqState"
        ></app-set-prop>
        <app-set-prop
          [label]="'internalEngineDirtyState'"
          formControlName="internalEngineDirtyState"
        ></app-set-prop>
        <app-set-prop
          [label]="'internalCommutatorState'"
          formControlName="internalCommutatorState"
        ></app-set-prop>
        <app-set-prop
          [label]="'internalBearingsState'"
          formControlName="internalBearingsState"
        ></app-set-prop>

        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          |
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="insulationResistanceMeasurement">
      <div formGroupName="insulationResistanceMeasurement">
        <ng-template matStepLabel>
          Measurement Insulation Resistance
        </ng-template>

        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th class="text-capitalize" scope="col">
                Required resistance value [<span>&#8486;</span>]
              </th>
              <th class="text-capitalize" scope="col">
                Measured value of insulation resistance [<span>&#8486;</span>]
              </th>
              <th class="text-capitalize" scope="col">
                Evaluation <br />
                (Measured value must be higher than required value)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <mat-form-field appearance="fill" style="width: 300px">
                  <input
                    matInput
                    placeholder="Only numbers*"
                    formControlName="requiredResistanceState"
                  />
                </mat-form-field>
              </td>

              <td>
                <mat-form-field appearance="fill" style="width: 300px">
                  <input
                    matInput
                    placeholder="Only numbers*"
                    formControlName="mesauredResistanceState"
                  />
                </mat-form-field>
              </td>

              <td>
                <app-set-prop-table
                  formControlName="isolateResistanceState"
                ></app-set-prop-table>
              </td>
            </tr>
          </tbody>
        </table>

        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          |
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="protectionCircuitCheck">
      <div formGroupName="protectionCircuitCheck">
        <ng-template matStepLabel
          >Checking of the protection circuit</ng-template
        >
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th class="text-capitalize" scope="col">
                Current Intensity [mA]
              </th>
              <th class="text-capitalize" scope="col">
                Voltage drop between <br />
                protective contact and the metal part [V]
              </th>
              <th class="text-capitalize" scope="col">
                Protective conductor resistance [<span>&#8486;</span>]
              </th>
              <th class="text-capitalize" scope="col">
                Permissible resistance [<span>&#8486;</span>]
              </th>
              <th class="text-capitalize" scope="col">Is it Valid?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <mat-form-field appearance="fill" style="width: 90%">
                  <input
                    matInput
                    placeholder="Only numbers*"
                    formControlName="currentValue"
                  />
                </mat-form-field>
              </td>

              <td>
                <mat-form-field appearance="fill" style="width: 90%">
                  <input
                    matInput
                    placeholder="Only numbers*"
                    formControlName="voltageValue"
                  />
                </mat-form-field>
              </td>

              <td>
                <mat-form-field appearance="fill" style="width: 90%">
                  <input
                    matInput
                    [formControl]="
                      protectionCircuitCheck.controls[
                        'protectiveConductorResistance'
                      ]
                    "
                    placeholder="Only numbers*"
                  />
                </mat-form-field>
              </td>

              <td>
                <mat-form-field appearance="fill" style="width: 90%">
                  <input
                    matInput
                    formControlName="permissibleProtectiveConductorResistance"
                    placeholder="Only numbers*"
                  />
                </mat-form-field>
              </td>

              <td>
                <app-set-prop-table
                  formControlName="protectionCircuitState"
                  placeholder="Only numbers*"
                ></app-set-prop-table>
              </td>
            </tr>
          </tbody>
        </table>
        <div
          *ngIf="insulationResistanceMeasurement.errors?.required"
          class="invalid-feedback"
        >
          uzupelnij...
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>
          Back
        </button>
        |
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="idleCheck">
      <div formGroupName="idleCheck">
        <ng-template matStepLabel> Idle Check </ng-template>

        <app-set-prop
          [label]="'idleCheck'"
          formControlName="idleRunState"
        ></app-set-prop>

        <div>
          <button mat-raised-button color="primary" matStepperPrevious>
            Back
          </button>
          |
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="finalEvaluation">
      <div formGroupName="finalEvaluation">
        <ng-template matStepLabel> Final Evaluation </ng-template>

        <app-set-prop
          [label]="'Is it Valid?'"
          formControlName="isValid"
        ></app-set-prop>

        <div style="width: 30%" *ngIf="IsValidForm">
          <app-date-picker
            [formControl]="finalEvaluation.controls['dateOfService']"
            [label]="'Next service date'"
            [minDate]="minDate"
          ></app-date-picker>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Remarks</mat-label>
          <textarea formControlName="remarks" matInput></textarea>
        </mat-form-field>

        <div>
          <button mat-raised-button color="warn" (click)="stepper.reset()">
            Reset
          </button>
          |
          <button
            mat-raised-button
            type="submit"
            (click)="HandleSubmit()"
            color="submit"
            matStepperNext
          >
            Submit
          </button>
        </div>
      </div>
    </mat-step>

    <pre>
      {{ serviceForm.value | json }}
    </pre>
  </mat-stepper>
</form>
