<div *ngIf="tool && !closeToService" class="card mb-4" >
    
    <div class="card-img-wrapper">
        <img class="center" src="{{tool.photoUrl || './assets/tool.png'}}" alt="{{tool.toolName}}"> 
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button routerLink='/admin/tools/{{tool.toolName}}' class="btn btn-primary">
                <i class="fa fa-info-circle" aria-hidden="true"></i></button>
            </li>
            <li class="list-inline-item"><button routerLink='/admin/tools/{{tool.toolName}}/edit' class="btn btn-primary">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </li>
            <li class="list-inline-item"><button class="btn btn-primary">
                <i class="fa fa-envelope"></i></button>
            </li>
        </ul>
    </div>

    <h6 class="card-text text-center mt-3">{{tool.toolName}}</h6>

    <div class="card-body p-11">
        <h6 class="card-title text-center text-muted mb-1">
            <i class="fa fa-calendar" aria-hidden="true"></i>
              {{tool.dateOfService}}
        </h6>
    </div>


</div>

<div *ngIf="tool && closeToService" class="card mb-4 card-service" >
    
    <div class="card-img-wrapper">
        <img class="center" src="{{tool.photoUrl}}" alt="{{tool.toolName}}">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item"><button routerLink='/admin/tools/{{tool.toolName}}' class="btn btn-primary">
                <i class="fa fa-info-circle" aria-hidden="true"></i></button>
            </li>
            <li class="list-inline-item"><button routerLink='/admin/tools/{{tool.toolName}}/edit' class="btn btn-primary">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
            </li>
            <li class="list-inline-item"><button class="btn btn-primary">
                <i class="fa fa-envelope"></i></button>
            </li>
        </ul>
    </div>

    <h6 class="card-text text-center mt-3">{{tool.toolName}}</h6>

    <div class="card-body p-11">
        <h6 class="card-title text-center text-muted mb-1">
            <i class="fa fa-calendar" aria-hidden="true"></i>
              {{tool.dateOfService}}
        </h6>
    </div>
</div>



