<!-- <div class="container" id="element-to-export">
  <p>&nbsp;</p>
  <p style="text-align: right">12/21/2022</p>
  <h1 style="text-align: center">Protok&oacute;ł nr 12212022152430</h1>
  <p>&nbsp;</p>
  <table
    style="
      border-collapse: collapse;
      width: 80%;
      height: 36px;
      margin-left: auto;
      margin-right: auto;
    "
    border="2"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 23%; height: 18px; text-align: center">
          Nazwa urządzenia
        </td>
        <td style="width: 23%; height: 18px; text-align: center">
          Numer referencji
        </td>
        <td style="width: 23%; height: 18px; text-align: center">Właściciel</td>
        <td style="width: 23%; height: 18px; text-align: center">
          Data Serwisu
        </td>
      </tr>
      <tr style="height: 18px">
        <td style="width: 23%; height: 18px; text-align: center">&nbsp;</td>
        <td style="width: 23%; height: 18px; text-align: center">&nbsp;</td>
        <td style="width: 23%; height: 18px; text-align: center">&nbsp;</td>
        <td style="width: 23%; height: 18px; text-align: center">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p>1. Oględziny zewnętrzne</p>
  <p>
    - czystość urządzenia: OK. <br /><br />- stan el. obudowy i rękojeści: OK.
    <br /><br />- stan wtyczki oraz czy odpowiada klasie bezpieczeństwa
    urządzenia: OK. <br /><br />- stan przewodu przyłaczeniowego, czy
    zabezpieczony jest przed wyrwaniem: OK. <br /><br />- stan odgiętki
    przewodu, czy nie wysuwa się z obudowy: OK. <br /><br />- występuje stan i
    kompletność przycisk&oacute;w, pokręteł i blokad: OK. <br /><br />- stan i
    kompletność uchwyt&oacute;w i zcisk&oacute;w narzędzi roboczych: OK.
    <br /><br />- stan osłon zewnętrznych: OK. <br /><br />- czy nie ma
    wyciek&oacute;w smaru z urządzenia: OK
  </p>
  <p>&nbsp;</p>
  <p>
    2. Demontaż i oględziny wewnętrzne <br /><br />- stan mocowania odgiętki
    przewodu OK. <br /><br />- stan przyłaczenia żył przewodu zasilającego OK.
    <br /><br />- stan osprzętu elektrycznego wewnątrz narzędzia OK.
    <br /><br />- stan zabrudzenia silnika <br /><br />- stan komutatora i
    szczotek <br /><br />- stan łożysk
  </p>
  <p>&nbsp;</p>
  <p>3. Pomiar rezystancji izolacji</p>
  <p>&nbsp;</p>
  <table
    style="
      border-collapse: collapse;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: 48px;
    "
    border="1"
  >
    <tbody>
      <tr style="height: 18px">
        <td style="width: 33.3333%; text-align: center; height: 18px">
          Zmierzona wartość rezystancji <br />izolacji
        </td>
        <td style="width: 33.3333%; height: 18px; text-align: center">
          Wymagana wartość rezystancji
        </td>
        <td style="width: 33.3333%; height: 18px; text-align: center">Ocena</td>
      </tr>
      <tr style="height: 26px">
        <td style="width: 33.3333%; text-align: center; height: 30px">
          &nbsp;
        </td>
        <td style="width: 33.3333%; height: 30px; text-align: center">
          &nbsp;
        </td>
        <td style="width: 33.3333%; height: 30px; text-align: center">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p>4. Sprawdzenie obwodu ochronnego</p>
  <p>a)</p>
  <p style="text-align: center">Do dodania...</p>
  <p>&nbsp;</p>
  <p>b)</p>
  <table
    style="
      border-collapse: collapse;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    "
    border="1"
  >
    <tbody>
      <tr>
        <td style="width: 20%; text-align: center">A [mA]</td>
        <td style="width: 20%; text-align: center">V</td>
        <td style="width: 20%; text-align: center">&Omega;</td>
        <td style="width: 20%; text-align: center">&Omega;</td>
        <td style="width: 20%; text-align: center">Ocena</td>
      </tr>
      <tr>
        <td style="width: 20%; text-align: center">&nbsp;</td>
        <td style="width: 20%; text-align: center">&nbsp;</td>
        <td style="width: 20%; text-align: center">&nbsp;</td>
        <td style="width: 20%; text-align: center">&nbsp;</td>
        <td style="width: 20%; text-align: center">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p>legenda:&nbsp;</p>
  <p>- &nbsp;natezenia a</p>
  <p>- spadek napiecia</p>
  <p>- rez przewod ochronny</p>
  <p>- rez dopuszczalna</p>
  <p>&nbsp;</p>
  <p>5. Ocena biegu jałowego</p>
  <p>- praca zgodnie z dokumentacja: Ok</p>
  <p>6. Ocena końcowa</p>
  <p>Uwagi:</p>
  <p>&nbsp;</p>
  <p>Czy nadaje sie do dalszej eksplotacji?: ok</p>
  <p>&nbsp;</p>
  <p>Data następnego badania: ok</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div> -->

<!-- <div style="text-align: center;">
    <input type="button" class="btn btn-danger" value="Convert" (click)="convertToPDF()" />
</div> -->

<!-- <div id="pdf" #pdf> -->
<div id="pdfTable" #pdfTable>
  <div class="card">
    <div class="card-body">
      <div class="container mt-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-10">
              <div style="align-items: flex-end"></div>

              <div class="header mt-3">
                <p class="" style="text-align: right">
                  Września, {{ tDate | date : "dd.MM.yy" }}
                </p>
                <div class="mt-5">
                  <h1 style="text-align: left">
                    Protokół nr: {{ tDate | date : "ddMMyyhhmma" }}
                  </h1>
                  <p style="text-align: left">
                    Zleceniodawca: Przemysław Przybylski
                  </p>
                </div>
                <table class="table mt-5" *ngIf="tool">
                  <thead>
                    <tr>
                      <th scope="col">Nazwa urządzenia</th>
                      <th scope="col">Numer referencji</th>
                      <th scope="col">Właściciel</th>
                      <th scope="col">Data Serwisu</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ tool.toolName }}</td>
                      <td>{{ tool.toolNumber }}</td>
                      <td>{{ tool.owner }}</td>
                      <td>{{ tDate | date : "dd.MM.yy" }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="body mt-5">
                <div class="part mt-5">
                  <h5>1. Oględziny zewnętrzne</h5>
                  <div *ngIf="tool">
                    <app-custom-value
                      [label]="'czystość urządzenia'"
                      [tool]="tool.toolProperties.externalIsCleanState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="'stan el. obudowy i rękojeści'"
                      [tool]="tool.toolProperties.externalCasingConditionState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="
                        'stan wtyczki oraz czy odpowiada klasie bezpieczeństwa urządzenia'
                      "
                      [tool]="tool.toolProperties.externalPlugState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="
                        'stan odgiętki przewodu, czy nie wysuwa się z obudowy'
                      "
                      [tool]="tool.toolProperties.externalWireState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="
                        'występuje stan i kompletność przycisk&oacute;w, pokręteł i blokad'
                      "
                      [tool]="tool.toolProperties.externalCompleteButtonsState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="
                        'stan i kompletność uchwyt&oacute;w i zcisk&oacute;w narzędzi roboczych'
                      "
                      [tool]="tool.toolProperties.externalCompleteHandlesState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="'stan osłon zewnętrznych'"
                      [tool]="tool.toolProperties.externalOuterCoverState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="'czy nie ma wycieków smaru z urządzenia'"
                      [tool]="tool.toolProperties.externalLeakageState"
                    ></app-custom-value>
                  </div>
                </div>

                <div class="part mt-5">
                  <h5>2. Demontaż i ogledziny wewnętrzne</h5>
                  <div *ngIf="tool">
                    <app-custom-value
                      [label]="'stan mocowania odgiętki przewodu'"
                      [tool]="tool.toolProperties.internalBendProtectorState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="'stan przyłaczenia żył przewodu zasilającego'"
                      [tool]="tool.toolProperties.internalPlugWireState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="'stan osprzętu elektrycznego wewnątrz narzędzia'"
                      [tool]="tool.toolProperties.internalElectricEqState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="'stan komutatora i szczotek'"
                      [tool]="tool.toolProperties.internalEngineDirtyState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="'stan łożysk'"
                      [tool]="tool.toolProperties.internalCommutatorState"
                    ></app-custom-value>
                    <app-custom-value
                      [label]="
                        'stan i kompletność uchwyt&oacute;w i zcisk&oacute;w narzędzi roboczych'
                      "
                      [tool]="tool.toolProperties.internalBearingsState"
                    ></app-custom-value>
                  </div>
                </div>

                <div class="part mt-5">
                  <h5>3. Pomiar rezystancji izolacji</h5>
                  <table class="table mt-3" *ngIf="tool">
                    <thead class="">
                      <tr>
                        <th scope="col">Zmierzona wartość rezystancji</th>
                        <th scope="col">Wymagana wartość rezystancji</th>
                        <th scope="col">Czy sprawny?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          {{ tool.toolProperties.mesauredResistanceState }}
                        </td>
                        <td>
                          {{ tool.toolProperties.requiredResistanceState }}
                        </td>
                        <td>
                          <app-custom-value
                            
                            [tool]="tool.toolProperties.isolateResistanceState"
                          ></app-custom-value>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="part mt-5">
                  <h5>4. Sprawdzenie obwodu ochronnego</h5>
                  <table class="table mt-3" *ngIf="tool">
                    <thead class="">
                      <tr>
                        <th scope="col">Natężenie prądu [A]</th>
                        <th scope="col">Spadek napięcia [V]</th>
                        <th scope="col">
                          Rezystancja przewodu ochronnego [<span>&#8486;</span>]
                        </th>
                        <th scope="col">
                          Rezystancja dopuszczalna [<span>&#8486;</span>]
                        </th>
                        <th scope="col">Czy sprawny?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ tool.toolProperties.currentValue }}</td>
                        <td>
                          {{ tool.toolProperties.voltageValue }}
                        </td>
                        <td>
                          {{
                            tool.toolProperties.protectiveConductorResistance
                          }}
                        </td>
                        <td>
                          {{
                            tool.toolProperties
                              .permissibleProtectiveConductorResistance
                          }}
                        </td>
                        <td>
                          <app-custom-value
                            [tool]="tool.toolProperties.protectionCircuitState"
                          ></app-custom-value>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="part mt-5">
                  <h5>5. Sprawdzenie biegu jałowego</h5>
                  <div *ngIf="tool">
                    <app-custom-value
                      [label]="'Występowanie prawidłowego rozruchu oraz równomierna praca'"
                      [tool]="tool.toolProperties.isolateResistanceState"
                    ></app-custom-value>
                  </div>
                </div>
                <div class="part mt-5">
                  <h5>6. Ocena końcowa</h5>
                  <div *ngIf="tool">
                    <app-custom-value
                      [label]="'Zdatność narzędzia do eksplotacji'"
                      [tool]="tool.toolProperties.isValid"
                    ></app-custom-value>
                  <div> - Data następnego badania: <b>{{tool.dateOfService | date : "dd.MM.yy"}}</b> </div>
                  </div>
                </div>
                <div class="footer mt-5">
                  <p style="text-align: right">
                    Podpis osoby wykonującej badanie:
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <button class="btn btn-warning btn-lg mt-5" style="height: auto;" (click)="downloadAsPDF()" aria-pressed="true">
    Export To PDF
  </button>
</div>

<div class="mt-5"></div>
